---
import {allThemes} from "../themes";
import {Image} from "astro:assets";
import Link from "./Link.astro";
---

<section class="py-20" id="email-templates" class:list={Astro.props.class}>
    <div class="flex flex-col gap-10 w-full">
        <div class="text-center mx-auto max-w-7xl px-6 lg:px-8">
            <h2 class="text-base font-semibold leading-7 text-primary capitalize">
                Email Templates
            </h2>
            <p class="mt-2 text-3xl font-bold tracking-tight sm:text-4xl capitalize">
                Beautiful and Functional Email Templates
            </p>
            <p class="mt-6 text-lg leading-8">
                A set of email templates that your customers will love. They can auto-import within Angular applications and are fully customizable. You can use them as they are or modify them to suit your needs.
            </p>
        </div>
        <div class="carousel carousel-center p-4 space-x-4 w-full">
            {allThemes().map((theme) => (
              <div class="carousel-item shadow-lg rounded-lg min-w-80 relative overflow-hidden">
                  <Image class="w-80 h-96 object-cover object-top rounded-md" height="384" width="380" src={theme.url} alt={theme.category} />
                  <div class="absolute top-0 right-0 bg-primary text-white px-3 py-1 rounded-bl-lg">
                      Free
                  </div>
                  <div class="p-6 absolute bottom-0 bg-base-100/90 left-0 right-0">
                      <h3 class="text-xl font-semibold leading-7 text-primary capitalize">
                          {theme.category}
                      </h3>
                      <!--<div class="mt-4 flex items-center justify-between">-->
                      <!--    <Link href={`/themes/${theme.slug}`} class="text-primary hover:text-primary-dark">-->
                      <!--        View Details-->
                      <!--    </Link>-->
                      <!--    <Link href={theme.demo} class="text-primary hover:text-primary-dark">-->
                      <!--        <Icon name="information" class="w-6 h-6" />-->
                      <!--    </Link>-->
                      <!--</div>-->
                  </div>

              </div>
            ))}
        </div>
        <p class="mx-auto max-w-7xl px-6 lg:px-8 mt-6 text-lg leading-8">
            And yet, there is more to come! Stay tuned for more themes and updates. We are constantly working on new themes and updates to improve your experience. If you have any suggestions or feedback, feel free to contact us.
        </p>
    </div>
</section>
