---
import {SITE_DATA} from "@/consts";
import {Icon} from "@astrojs/starlight/components";
import Link from "./Link.astro";
---

<footer class="footer footer-center p-10 bg-primary text-primary-content rounded">
    <nav class="grid grid-flow-col gap-4">
        <Link>About us (in progress)</Link>
        <Link href={`mailto:${SITE_DATA.email}?subject=Contact%20from%20${SITE_DATA.title}`}>Contact</Link>
        <!--<Link class="link link-hover">Store</Link>-->
    </nav>
    <nav>
        <div class="grid grid-flow-col gap-4">
            <Link class="link link-hover" href={SITE_DATA.twitterUrl}>
                <Icon name="x.com" class="w-6 h-6"/>
            </Link>
            <Link class="link link-hover" href={SITE_DATA.githubUrl}>
                <Icon name="github" class="w-6 h-6"/>
            </Link>
            <Link class="link link-hover" href={SITE_DATA.discordUrl}>
                <Icon name="discord" class="w-6 h-6"/>
            </Link>
            <Link class="link link-hover" href={SITE_DATA.npmUrl}>
                <Icon name="seti:npm" class="w-6 h-6"/>
            </Link>
        </div>
    </nav>
    <aside>
        <p>&copy; 2023 NgComma LTD, All rights reserved. Part of <a href="https://yon.fun">Yon.fun</a> Network.</p>
    </aside>
</footer>
