---
import {Icon} from "@astrojs/starlight/components";
import {Image} from "astro:assets";
import Code from "@/static/code.png";

import Link from "./Link.astro";
import {SITE_DATA} from "../consts";
import Tailwind from "./icons/Tailwind.astro";
import Bootstrap from "./icons/Bootstrap.astro";
import Material from "./icons/Material.astro";
import Bulma from "./icons/Bulma.astro";
import Primeng from "./icons/Primeng.astro";
---

<section class="hero bg-primary-content/15 dark:bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse max-w-7xl mx-auto w-full py-10 md:py-20 justify-between">
        <Image src={Code} widths={[1000, 800, 600]} class="w-1/2 hidden lg:inline" alt=""/>
        <div class="flex flex-col gap-4">
            <h1 class="text-3xl md:text-5xl uppercase font-bold md:leading-tight">
                Free and <span class="text-primary">Open source</span> <br>
                Email Template editor
            </h1>
            <p class="py-4 text-lg">
                A fully customizable wysiwyg open source email template editor for Angular, integrated with MJML,
                TailwindCSS
                and more. Drag and drop, resize, duplicate, delete, move, export to HTML, MJML, JSON and more.
            </p>
            <div class="flex flex-col md:flex-row gap-4 md:gap-2 items-start md:items-center">
                <Link href="/guides" class="btn btn-primary">Read the guides</Link>
                <div>
                    <Link href={SITE_DATA.npmUrl} class="btn btn-ghost btn-circle">
                        <Icon name="seti:npm" class="w-6 h-6"/>
                    </Link>
                    <Link href={SITE_DATA.githubUrl} class="btn btn-ghost btn-circle">
                        <Icon name="github" class="w-6 h-6"/>
                    </Link>
                    <Link href={SITE_DATA.discordUrl} class="btn btn-ghost btn-circle">
                        <Icon name="discord" class="w-6 h-6"/>
                    </Link>
                    <Link href={SITE_DATA.twitterUrl} class="btn btn-ghost btn-circle">
                        <Icon name="x.com" class="w-6 h-6"/>
                    </Link>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-10 border-b dark:border-base-300">
    <div class="flex flex-col justify-center lg:items-center max-w-7xl mx-auto w-full gap-8">
        <h2>With <span class="text-primary">Pre-Built Themes</span> that you will love!</h2>
        <div class="flex gap-14 flex-wrap">
            <a href="/tailwind" class="btn btn-circle btn-link btn-lg tooltip text-[#06B6D4]"
                    data-tip="Tailwind theme (included in main repo)">
                <Tailwind/>
            </a>
            <a href="/bootstrap" class="btn btn-circle btn-link btn-lg tooltip text-[#7952B3]"
               data-tip="Bootstrap theme">
                <Bootstrap/>
            </a>
            <a href="/material" class="btn btn-circle btn-link btn-lg tooltip text-[#757575]"
                    data-tip="Material theme">
                <Material/>
            </a>
            <a href="/bulma" class="btn btn-circle btn-link btn-lg tooltip text-[#00D1B2]" data-tip="Bulma theme">
                <Bulma/>
            </a>
            <a href="/primeng" class="btn btn-circle btn-link btn-lg tooltip" data-tip="Primeng theme">
                <Primeng/>
            </a>
        </div>
    </div>
</section>
