---
import Header from "../components/Header.astro";
import {SITE_DATA} from "../consts";
import Footer from "../components/Footer.astro";
import favicon from "@/static/logo-60.png";

interface Props {
  title?: string;
  description?: string;
}

const {shortName, twitterUrl, ogImage} = SITE_DATA;

const {title = SITE_DATA.title, description = SITE_DATA.description} = Astro.props;
const canonical = new URL(Astro.request.url, Astro.url);
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8"/>
    <link href={favicon.src} rel="icon" type="image/png"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>{title}</title>
    <meta content={description} name="description"/>

    <meta content={shortName} property="og:site_name"/>
    <meta content="website" property="og:type"/>
    <meta content={title} property="og:title"/>
    <meta content={description} property="og:description"/>
    <meta content=`${Astro.url}/` property="og:url"/>
    <meta content=`${Astro.url}/${ogImage}` property="og:image"/>
    <meta content={twitterUrl} property="article:publisher"/>
    <meta content="summary_large_image" name="twitter:card"/>
    <meta content={title} name="twitter:title"/>
    <meta content={description} name="twitter:description"/>
    <meta content=`${Astro.url}/` name="twitter:url"/>
    <meta content=`${Astro.url}/${ogImage}` name="twitter:image"/>
    <meta content="@NgbEmail" name="twitter:site"/>
    <meta content="1280" property="og:image:width"/>
    <meta content="720" property="og:image:height"/>

    <!--<link href="/src/style.css" rel="stylesheet"/>-->
    <link href="/manifest.json" rel="manifest"/>
    <link href={canonical.toString()} rel="canonical">
</head>
<body class="bg-base-100 text-base-content">
<Header/>
<main>
    <slot/>
</main>
<Footer/>
</body>
</html>
